* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Thin";
}

@font-face {
  font-family: "Thin";
  src: url(./Font/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2);
}
@font-face {
  font-family: "Abc";
  src: url(./Font/8vIH7w4qzmVxm2BL9A.woff2);
}
@font-face {
  font-family: "Thin-1";
  src: url(./Font/63661389dd241781280d8a0a_Satoshi-Regular.woff);
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #FDFBF5;
}

main {
  margin: 0.7rem;
  padding: 1.3rem;
  border: 1px solid black;
}

header {
  width: 100%;
  height: 50px;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav img {
  width: 8rem;
  aspect-ratio: 1/1;
}
header nav h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #81807D;
  font-weight: 200;
}
header hr {
  width: 100%;
  height: 2.3px;
  margin-top: 1.2rem;
  background-color: #656563;
}

.hero {
  margin-top: 3.6rem;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero .text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
.hero .text h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
}
.hero .text h1 {
  font-size: 3.5rem;
  font-family: "Abc";
  font-weight: 300;
  line-height: 1;
}
.hero .image {
  background-color: #656563;
  width: 21rem;
  aspect-ratio: 9/5;
  border-radius: 10px;
}
.hero .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

hr {
  width: 100%;
  height: 2.3px;
  margin-top: 1.2rem;
  background-color: #656563;
}

.values {
  margin-top: 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values .left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5rem;
}
.values .left .text h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
}
.values .left .text h1 {
  margin-top: 1.2rem;
  font-size: 3rem;
  font-family: "Abc";
  font-weight: 200;
  line-height: 1;
}
.values .left button {
  width: 45%;
  padding: 0.5rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: #191919;
  color: white;
  border-radius: 5px;
  border: transparent;
}
.values .right {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  gap: 5rem;
}
.values .right .container {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
}
.values .right .container img {
  width: 4.5rem;
  aspect-ratio: 1/1;
}
.values .right .container h2 {
  font-family: "Thin-1";
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.66rem;
  letter-spacing: 2px;
  font-weight: 100;
}
.values .right .container h3 {
  font-family: "Thin-1";
  font-weight: 100;
  font-size: 1.1rem;
  color: #444444;
  line-height: 1.4;
  letter-spacing: 1;
}

@media (min-width: 1080px) {
  main {
    margin: 1rem;
    padding: 1.9rem;
  }
  header {
    padding: 1.5rem;
  }
  header hr {
    margin-top: 3rem;
  }
  header nav img {
    width: 8.5rem;
    aspect-ratio: 1/1;
  }
  .hero {
    margin-top: 7%;
    width: 100%;
    height: 100%;
  }
  .hero .text {
    width: 96%;
  }
  .hero .text h1 {
    font-size: 8.8vw;
  }
  .hero .image {
    width: 95%;
    height: 100%;
  }
  .hero .image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  .hhr {
    width: 95%;
    margin-left: 2rem;
  }
  .values {
    padding: 1.6rem;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 2%;
    width: 100%;
    gap: 0.6rem;
  }
  .values .valhr {
    width: 0.2rem;
    background-color: #191919;
    height: 56vw;
  }
  .values .left {
    gap: 20rem;
    width: 100%;
    justify-content: flex-start;
  }
  .values .left .text {
    width: 100%;
  }
  .values .left .text h1 {
    font-size: 5.5rem;
    font-weight: 500;
    line-height: 1.1;
  }
  .values .right {
    margin-top: -2rem;
    width: 30%;
  }
  .values .right .container {
    padding: 1rem;
  }
  .values .right .container .top {
    display: flex;
    gap: 3rem;
  }
  .values .right .container .context {
    margin-left: 4rem;
    font-size: 0.1em;
    width: 100%;
  }
  .values .right .container .valhr-2 {
    height: 50%;
  }
}/*# sourceMappingURL=style.css.map */